
<div ng-controller="homeCtrl" ng-cloak="" class="carddemoCardActionButtons">
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>
      <div class="panel panel-default panelstyle">
      <div class="panel-heading">ng-repeat with bootstrap list-item</a></div>
        <md-card-title>
          <md-card-title-text>
           <label>Search: <input ng-model="searchText" class="searchbox"></label>

</table>
          </md-card-title-text>
        </md-card-title>
                
        
          <a ng-repeat="item in data| filter:searchText" ng-href="#" class="list-group-item">
            <div>{{item.name}}</div>
          </a>
        </div>
      
 
    
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="x1()">Save</md-button>
          
        </md-card-actions>
       
      </md-card>
      <md-card>
      <div class="panel panel-default panelstyle2">
      <div class="panel-heading">ng-repeat with bootstrap list-item</a></div>
      </div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Vertical action buttons</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>
      <div class="panel panel-default panelstyle2">
      <div class="panel-heading">ng-repeat with bootstrap list-item</a></div>
      </div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Icon action buttons</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      <md-card>
       <div class="panel panel-default panelstyle">
      <div class="panel-heading">ng-repeat with bootstrap list-item</a></div>
      </div>
      <a ng-repeat="item in saved" ng-href="#" class="list-group-item">
            <div>{{item}}</div>
          </a>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>


    </div>
  </md-content>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->